*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2D42;
    color: white;
}

img {
    width: 100%;
}

.contenedor{
    margin: 0 auto;
    max-width: 900px;
}

 
.titulo {
    text-align: center;
    padding-top: 1rem;
    color: white;
    font-size: 2.5rem;
}


.contenedor-placas {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
 

.card {
    margin-bottom: 2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}


.imagen-placas {
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.boton-carrito {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}


.btn-favorito:hover {
    background-color: aliceblue;
} 


/* Favoritos */
 h2 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.listado-favoritos{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
} 
